Xft.dpi: 96
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.antialias: true
URxvt.perl-lib: /home/effi/dotfiles/xconfig/
URxvt.perl-ext-common: default, clipboard
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob


